# CONFIG GENERAL SETTINGS
SETTINGS=core.settings.development
PRODUCTION_DOMAIN=xxxxxxxx
SECRET_KEY=xxxxxxxx

# CONFIG DATABASE
POSTGRES_DB=xxxxxxx
POSTGRES_USER=xxxxxxxx
POSTGRES_PASSWORD=xxxxxxxx
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CONFIG EMAIL
EMAIL_HOST='your-smtp-server.com'
EMAIL_PORT=xxxxxx
EMAIL_USE_TLS=xxxxxxx
EMAIL_HOST_USER='your-email@example.com'
EMAIL_HOST_PASSWORD='your-email-password'
DEFAULT_FROM_EMAIL='webmaster@example.com'