# CONFIG GENERAL SETTINGS
SETTINGS=core.settings.development
API_BASE_URL=xxxxxxxx
PRODUCTION_DOMAIN=xxxxxxxx
SECRET_KEY=xxxxxxxx

# CONFIG DATABASE
POSTGRES_DB=xxxxxxx
POSTGRES_USER=xxxxxxxx
POSTGRES_PASSWORD=xxxxxxxx
POSTGRES_HOST=xxxxxxxx
POSTGRES_PORT=xxxx

# CONFIG EMAIL
EMAIL_HOST=xxxxxxxx
EMAIL_PORT=xxxxxx
EMAIL_USE_TLS=xxxxxxx
EMAIL_HOST_USER=xxxxxxxx
EMAIL_HOST_PASSWORD=xxxxxxxx
DEFAULT_FROM_EMAIL=xxxxxxxx